<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{{ header.title|default(site.title) }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% do assets.addCss('theme://css/style.css') %}
        {{ assets.css()|raw }}
    {% endblock %}
</head>

<body>

    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% do assets.addJs('theme://js/app.js') %}
    {{ assets.js()|raw }}

</body>
</html>
